<table class='table table-striped'>
    <tr>
        <th>Jméno</th>
        <th>Identifikátor</th>
        <th>Pozice</th>
        <th>Místnost</th>
        <th>Telefon</th>
        {{#admin}}<th>Administrace</th>{{/admin}}
    </tr>

    {{#employees}}
    <tr>
        <td>
            <a href='detail.php?employeeId={{employee_id}}'>{{surname}} {{name}}</a>
        </td>
        <td>{{employee_id}}</td>
        <td>{{job}}</td>
        <td><a href="../room/detail.php?roomId={{room_id}}">{{roomName}}</a></td>
        <td>{{#phone}}{{phone}}{{/phone}}{{^phone}}&mdash;{{/phone}}</td>
        {{#admin}}
            <td>
                <form action="update.php" method="get" style="display: inline-block">
                    <input type="hidden" name="employeeId" value="{{employee_id}}">
                    <input type="submit" value="Upravit" class="btn btn-info">
                </form>
                <form action="delete.php" method="post" style="display: inline-block">
                    <input type="hidden" name="employeeId" value="{{employee_id}}">
                    <input type="submit" value="Smazat" class="btn btn-danger" onclick="return confirm('Opravdu chcete smazat zaměstnance?\nAkce je nevratná!');">
                </form>
            </td>
        {{/admin}}
    </tr>
    {{/employees}}
    {{^employees}}
        <tr><td colspan="3">Databáze je prázdná</td></tr>
    {{/employees}}

</table>
{{#admin}}
    <a href="create.php" class="btn btn-primary">Založit nového zaměstnance</a>
{{/admin}}

