{{#employee}}
<h1>Detail zaměstnance č. {{employee_id}}</h1>
<dl>
    {{#owner}}
        <form action="changeCredentials.php" method="post" style="display: inline-block">
            <input type="hidden" name="employeeId" value="{{employee_id}}">
            <input type="submit" value="Změnit přihlašovací údaje" class="btn btn-dark">
        </form>
    {{/owner}}
    <dt>Jméno</dt>
    <dd>{{surname}} {{name}}</dd>
    <dt>Pozice</dt>
    <dd>{{job}}</dd>
    <dt>Plat</dt>
    <dd>{{wage}}</dd>
    <dt>Telefon</dt>
    <dd>{{#phone}}{{phone}}{{/phone}}{{^phone}}&mdash;{{/phone}}</dd>
    <dt>Místnost</dt>
    <dd><a href="../room/detail.php?roomId={{room_id}}">{{roomName}}</a></dd>
    <dt>Majitel klíčů pro místnosti:</dt>
    <dd></dd>
</dl>
{{/employee}}
