    <nav>
        <h1>Prohlížeč databáze firmy</h1>
        {{#userName}}<div>Přihlášen uživatel: {{userName}} </div>{{/userName}}
        <li><a href="/logout.php">Odhlásit se</a></li>
        <ul>
            <li><a href="/room/list.php">Místnosti</a></li>
            <li><a href="/staff/list.php">Lidé</a></li>
        </ul>
    </nav>
