<form method="post">
    <div class="form-group">
        <label for="login">Přihlašovací jméno</label><br>
        <input type="text" class="form-control" name="login" id="login" value="{{login}}"/>

        <label for="password">Heslo</label><br>
        <input type="password" class="form-control" name="password" id="password" value=""/>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Přihlásit se</button>
</form>