{{#room}}
<h1>Detail místnosti {{no}}</h1>
<dl>
    <dt>Název</dt>
    <dd>{{name}}</dd>

    <dt>Číslo</dt>
    <dd>{{no}}</dd>

    <dt>Telefon</dt>
    <dd>{{#phone}}{{phone}}{{/phone}}{{^phone}}&mdash;{{/phone}}</dd>


    <dt>Lidé</dt>
    <table class='table table-striped'>
        <tr>
            <th>Jméno</th>
            <th>Identifikátor</th>
        </tr>
        {{#employees}}
            <tr>
                <td><a href='../staff/detail.php?employeeId={{employee_id}}'>{{surname}} {{name}}</a></td>
                <td>{{employee_id}}</td>
            </tr>
        {{/employees}}
        {{^employees}}
            <tr>
                <td colspan="3">V místnosti žádný zaměstnanec nesídlí</td>
            </tr>
        {{/employees}}
    </table>
</dl>
{{/room}}
